---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.freshrss.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.freshrss.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.freshrss.tls=true
    - traefik.http.routers.freshrss.tls.certresolver=${CERT_RESOLVER:-}
    - traefik.http.routers.freshrss.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.freshrss.service=freshrss
    - traefik.http.services.freshrss.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.freshrss.loadbalancer.server.port=${PORT:-8080}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-0.5}
      memory: ${RESOURCES_LIMITS_MEMORY:-500m}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - CHOWN # Allows changing file ownership (`chown`,`chgrp`)
    - FOWNER # Overrides file ownership checks (`chmod`,`kill`)
    - FSETID # Allows setting file SUID/SGID bits (`chmod u+s`,`chmod g+s`)
    - SETGID # Allows setting group ID (`setgid`,`newgrp`,`chgrp`,`setregid()`)
    - SETUID # Allows setting user ID (`setuid`,`su`,`sudo`,`passwd`)
    - DAC_READ_SEARCH # Bypasses file read and directory execute permissions (`ls`,`cat`,`find`)
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  freshrss:
    # https://hub.docker.com/r/freshrss/freshrss
    image: freshrss/freshrss:${VERSION:-1.28.1}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    environment:
      FRESHRSS_ENV: production
      TZ: ${TZ:-Europe/Berlin}
      # Cron job to refresh feeds at specified minutes
      CRON_MIN: ${CRON_MIN:-3,33}
      # Published port if running locally
      PUBLISHED_PORT: ${PORT:-8080}
      LISTEN: 0.0.0.0:${PORT:-8080}
    volumes:
      # - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/var/www/FreshRSS/data
      - extensions:/var/www/FreshRSS/extensions
    healthcheck:
      test:
        [
          "CMD",
          "php",
          "-r",
          '$$url = "${PROTOCOL:-http}://localhost:${PORT:-8080}/i/"; $$response = @file_get_contents($$url); if ($$response !== false) { exit(0); } else { exit(1); }',
        ]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  data: {}
  extensions: {}
