*
!.gitignore
!.gitempty

!docker-compose.yaml
!docker-compose-certs-generator.yaml

!README.md

!config/
config/*

!config/certs.yml

!config/wazuh_indexer_ssl_certs/
config/wazuh_indexer_ssl_certs/*
!config/wazuh_indexer_ssl_certs/.gitempty

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/wazuh_cluster/
config/wazuh_cluster/*
!config/wazuh_cluster/*.conf

!config/wazuh_dashboard/
config/wazuh_dashboard/*
!config/wazuh_dashboard/*.yml

!config/wazuh_indexer/
config/wazuh_indexer/*
!config/wazuh_indexer/*.yml

!resources/
resources/*

!resources/decoders/
resources/decoders/*
!resources/decoders/*.xml

!resources/rules/
resources/rules/*
!resources/rules/*.xml
