---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.reactive-resume.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.reactive-resume.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.reactive-resume.tls=true
    - traefik.http.routers.reactive-resume.tls.certresolver=${CERT_RESOLVER:-}
    - traefik.http.routers.reactive-resume.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.reactive-resume.service=reactive-resume
    - traefik.http.services.reactive-resume.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.reactive-resume.loadbalancer.server.port=${PORT:-3000}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-512m}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    default: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  reactive-resume:
    # https://github.com/amruthpillai/reactive-resume/pkgs/container/reactive-resume
    image: ghcr.io/amruthpillai/reactive-resume:${VERSION_RESUME:-v5.0.0}
    <<: [*basic, *basic-deploy-labels]
    deploy:
      <<: [*basic-deploy, *basic-deploy-labels]
    environment:
      PORT: ${PORT:-3000}
      NODE_ENV: production
      # TZ: ${TZ:-Europe/Berlin}

      APP_URL: https://${DOMAIN?domain variable not set}
      PRINTER_APP_URL: http://reactive-resume:${PORT:-3000}

      GOTENBERG_ENDPOINT: http://gotenberg:3000

      DATABASE_URL: postgresql://${POSTGRES_USER:-resume}:${POSTGRES_PW?POSTGRES_PW is not set}@postgresql:5432/${POSTGRES_DB:-resume}

      AUTH_SECRET: ${AUTH_SECRET?AUTH_SECRET is not set}

      S3_ENDPOINT: http://seaweedfs:8333
      S3_REGION: us-east-1 # Optional
      S3_BUCKET: reactive-resume
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID:-seaweedfs}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY?S3_SECRET_ACCESS_KEY is not set}
      S3_FORCE_PATH_STYLE: "true"

      FLAG_DEBUG_PRINTER: ${FLAG_DEBUG_PRINTER:-false}
      FLAG_DISABLE_SIGNUP: ${FLAG_DISABLE_SIGNUP:-false}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/app/data
    networks:
      default: {}
      proxy: {}
    entrypoint:
      [
        "sh",
        "-c",
        "sleep 30 && node -r reflect-metadata .output/server/index.mjs",
      ]
    healthcheck:
      test:
        [
          "CMD",
          "node",
          "-e",
          "fetch('${PROTOCOL:-http}://localhost:${PORT:-3000}/api/health').then(r => process.exit(r.ok ? 0 : 1)).catch(() => process.exit(1))",
        ]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  ##############################################################################
  ##############################################################################
  ##############################################################################
  postgresql:
    # https://hub.docker.com/_/postgres
    image: postgres:${VERSION_POSTGRESQL:-18.1-alpine}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_POSTGRESQL:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_POSTGRESQL:-512m}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_POSTGRESQL:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_POSTGRESQL:-32m}
    cap_add:
      - CHOWN
      - FOWNER
      - DAC_READ_SEARCH
      - DAC_OVERRIDE
      - SETUID
      - SETGID
    secrets:
      - postgres_password_file
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-resume}
      POSTGRES_USER: ${POSTGRES_USER:-resume}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password_file
      PGDATA: /var/lib/postgresql/18/data
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - postgresql_v18:/var/lib/postgresql/18/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  ##############################################################################
  ##############################################################################
  ##############################################################################
  seaweedfs:
    # https://hub.docker.com/r/chrislusf/seaweedfs
    image: chrislusf/seaweedfs:${VERSION_SEAWEEDFS:-4.07}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_SEAWEEDFS:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_SEAWEEDFS:-512m}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_SEAWEEDFS:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_SEAWEEDFS:-32m}
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      # - FOWNER
      # - DAC_READ_SEARCH
      # - DAC_OVERRIDE
    environment:
      AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID:-seaweedfs}
      AWS_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY?S3_SECRET_ACCESS_KEY is not set}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - seaweedfs:/data
    command: server -s3 -filer -dir=/data -ip=0.0.0.0
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "/dev/null", "http://localhost:8888"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  seaweedfs-create-bucket:
    # https://quay.io/repository/minio/mc?tab=tags&tag=latest
    image: quay.io/minio/mc:${VERSION_MC:-RELEASE.2025-08-13T08-35-41Z-cpuv1}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_MINIO_MC:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_MINIO_MC:-512m}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_MINIO_MC:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_MINIO_MC:-32m}
      restart_policy:
        condition: on-failure
    restart: on-failure
    cap_add:
      - DAC_OVERRIDE
    environment:
      AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID:-seaweedfs}
      AWS_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY?S3_SECRET_ACCESS_KEY is not set}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    entrypoint: >
      /bin/sh -c "
        sleep 5;
        mc alias set seaweedfs http://seaweedfs:8333 $${S3_ACCESS_KEY_ID:-seaweedfs} $${AWS_SECRET_ACCESS_KEY} || exit 1;
        mc mb seaweedfs/reactive-resume || true;
        exit 0;
      "

  ##############################################################################
  ##############################################################################
  ##############################################################################
  gotenberg:
    # https://hub.docker.com/r/gotenberg/gotenberg
    image: gotenberg/gotenberg:${VERSION_GOTENBERG:-8.25.1}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_GOTENBERG:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_GOTENBERG:-512m}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_GOTENBERG:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_GOTENBERG:-32m}
    environment:
      WEBHOOK_DISABLE: ${WEBHOOK_DISABLE:-true}
      CHROMIUM_AUTO_START: ${CHROMIUM_AUTO_START:-true}
      LIBREOFFICE_DISABLE_ROUTES: ${LIBREOFFICE_DISABLE_ROUTES:-true}
      PROMETHEUS_DISABLE_COLLECT: ${PROMETHEUS_DISABLE_COLLECT:-true}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

################################################################################
################################################################################
################################################################################
networks:
  default:
    driver: ${NETWORK_MODE:-overlay}
    attachable: true
    driver_opts:
      encrypted: "true"
  proxy:
    external: true

volumes:
  data: {}
  postgresql_v18: {}
  seaweedfs: {}

secrets:
  postgres_password_file:
    file: config/secrets/postgres_password_file.txt
