---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.speedtest-tracker.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.speedtest-tracker.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.speedtest-tracker.tls=true
    - traefik.http.routers.speedtest-tracker.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.speedtest-tracker.service=speedtest-tracker
    - traefik.http.services.speedtest-tracker.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.speedtest-tracker.loadbalancer.server.port=${PORT:-80}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-2}
      memory: ${RESOURCES_LIMITS_MEMORY:-512m}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - CHOWN # Allows changing file ownership (`chown`,`chgrp`)
    - FOWNER # Overrides file ownership checks (`chmod`,`kill`)
    - DAC_OVERRIDE # Bypasses file read/write/execute permission checks (`cat`,`touch`,`rm`)
    - SETGID # Allows setting group ID (`setgid`,`newgrp`,`chgrp`,`setregid()`)
    - SETUID # Allows setting user ID (`setuid`,`su`,`sudo`,`passwd`)
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always # always | on-failure

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  speedtest-tracker:
    # https://github.com/linuxserver/docker-speedtest-tracker/pkgs/container/speedtest-tracker
    image: ghcr.io/linuxserver/speedtest-tracker:${VERSION:-1.13.4}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    environment:
      ADMIN_NAME: ${ADMIN_NAME:-groot}
      ADMIN_EMAIL: ${ADMIN_EMAIL:-groot@home.local}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD:-swordfish}

      APP_URL: https://${DOMAIN?domain variable not set}
      APP_PORT: ${PORT:-80}
      ASSET_URL: https://${DOMAIN?domain variable not set}
      SSL_MODE: "off"

      APP_LOCALE: ${APP_LOCALE:-en}
      APP_TIMEZONE: ${TIMEZONE:-Europe/Berlin}
      DISPLAY_TIMEZONE: ${TIMEZONE:-Europe/Berlin}

      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}

      DB_CONNECTION: sqlite

      APP_DEBUG: ${APP_DEBUG:-false}
      # PUBLIC_DASHBOARD: ${PUBLIC_DASHBOARD:-false}
      # DATETIME_FORMAT: j M Y - G:i:s
      # PRUNE_RESULTS_OLDER_THAN: 90
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - speedtest-app:/config
    networks:
      proxy: {}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -kIf ${PROTOCOL:-http}://127.0.0.1:${PORT:-80}/api/healthcheck > /dev/null 2>&1 || exit 1",
        ]
      start_period: 10s
      interval: 10s
      timeout: 3s
      retries: 10

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  speedtest-app: {}
