*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/configs/
!config/configs/*
!config/plugins/
!config/plugins/*
!config/secrets/
config/secrets/*
!config/secrets/.gitempty
