# Ignore .hidden files
.*
# Ignore everything
*

!.github/
!.github/**

!.editorconfig
!.gitattributes
!.gitignore

!CONTRIBUTING.md
!LICENCE
!SECURITY.md

!README.md

!.pre-commit-config.yaml
!.prettierrc.yml
!.yamllint

!__template/
!composer/
!composer/**
