# Ignore .hidden files
.*
# Ignore everything
*

!.github/
!.github/**

!.gitattributes
!.gitignore
!.gitempty

!CHANGELOG.md
!CONTRIBUTING.md
!LICENCE
!SECURITY.md

!README.md

!.pre-commit-config.yaml
!.prettierrc.yml
!.yamllint

!__template/
!composer/
!composer/**
