*
!.git
!.github
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/.gitempty

!config/ssl/
config/ssl/*
!config/ssl/.gitempty
