*
!.gitignore
!.gitempty

!.dockerignore
!Dockerfile
!docker-compose.yaml

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!sql/
sql/*
!sql/.gitempty

!typo3/
typo3/*

!typo3/fileadmin/
typo3/fileadmin/*
!typo3/fileadmin/.gitempty

!typo3/typo3conf/
typo3/typo3conf/*

!typo3/typo3conf/ext/
typo3/typo3conf/ext/*
!typo3/typo3conf/ext/.gitempty

!typo3/typo3conf/sites/
typo3/typo3conf/sites/*
!typo3/typo3conf/sites/.gitempty

!typo3/typo3conf/system/
typo3/typo3conf/system/*
!typo3/typo3conf/system/.gitempty
