*
!.gitignore
!.gitempty

!.dockerignore
!Dockerfile
!docker-compose.yaml

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!ext/
ext/*
!ext/.gitempty

!sql/
sql/*
!sql/.gitempty
