*
!.gitignore
!.gitempty

!.dockerignore
!Dockerfile
!docker-compose.yaml

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!sql/
sql/*
!sql/.gitempty

!fileadmin/
fileadmin/*
!fileadmin/.gitempty

!typo3conf/
typo3conf/*

!typo3conf/ext/
typo3conf/ext/*
!typo3conf/ext/.gitempty

!typo3conf/sites/
typo3conf/sites/*
!typo3conf/sites/.gitempty

!typo3conf/system/
typo3conf/system/*
!typo3conf/system/.gitempty
