*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile
!Dockerfile_*

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/docker-entrypoint.sh

!config/secrets/
config/secrets/*
!config/secrets/.gitempty
