---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.zerobyte.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.zerobyte.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.zerobyte.tls=true
    - traefik.http.routers.zerobyte.tls.certresolver=${CERT_RESOLVER:-}
    - traefik.http.routers.zerobyte.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.zerobyte.service=zerobyte
    - traefik.http.services.zerobyte.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.zerobyte.loadbalancer.server.port=${PORT:-4096}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  zerobyte:
    # https://github.com/nicotsx/zerobyte/pkgs/container/zerobyte
    image: ghcr.io/nicotsx/zerobyte:${VERSION:-v0.21}
    <<:
      - *basic
      - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    cap_add:
      - SYS_ADMIN
    environment:
      TZ: ${TZ:-Europe/Berlin}
      SERVER_IP: 0.0.0.0
    configs:
      - source: rclone_config
        target: /root/.config/rclone/rclone.conf
        mode: 0440
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/var/lib/zerobyte
      - ssh:/ssh
      # - ${HOST_DATA_DIR:?HOST_DATA_DIR must be set}:/mydata
    # devices:
    #   - /dev/fuse:/dev/fuse
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider --no-check-certificate ${PROTOCOL:-http}://127.0.0.1:${PORT:-4096}/healthcheck || exit 1",
        ]
      start_period: 10s
      interval: 10s
      timeout: 3s
      retries: 10

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  data: {}
  ssh: {}

configs:
  rclone_config:
    file: $PWD/config/rclone.conf
