*
!.git
!.github
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/logrotate
!config/logrotate/*
!config/observium
!config/observium/*
!config/secrets
config/secrets/*
!config/secrets/.gitempty
!config/syslog-ng
!config/syslog/*-ng
!config/184.sql
!config/docker-entrypoint.sh
!config/supervisord.conf
