*
!.gitignore
!.gitempty

!.dockerignore
!Dockerfile
!Dockerfile_*
!docker-compose.yaml
!docker-compose-example-services.yaml

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/docker-entrypoint.sh
!config/supervisord.conf
!config/*_template.*

!config/ssl/
config/ssl/*
!config/ssl/.gitempty
