---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.pulse.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.pulse.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.pulse.tls=true
    - traefik.http.routers.pulse.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.pulse.service=pulse
    - traefik.http.services.pulse.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.pulse.loadbalancer.server.port=${PORT:-7655}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - CHOWN # Allows changing file ownership (`chown`,`chgrp`)
    - SETGID # Allows setting group ID (`setgid`,`newgrp`,`chgrp`,`setregid()`)
    - SETUID # Allows setting user ID (`setuid`,`su`,`sudo`,`passwd`)
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  pulse:
    # https://hub.docker.com/r/rcourtman/pulse
    image: rcourtman/pulse:${VERSION:-4.30.0}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    environment:
      TZ: ${TZ:-Europe/Berlin}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider --no-check-certificate ${PROTOCOL:-http}://127.0.0.1:${PORT:-7655}/api/health || exit 1",
        ]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  data: {}
