*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/mosquitto.conf
!config/wait.sh

!config/secrets/
config/secrets/*
!config/secrets/.gitempty
