*
!.gitignore
!.gitempty

!.dockerignore
!Dockerfile
!Dockerfile_*
!docker-compose.yaml
!docker-compose-example-services.yaml

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/docker-entrypoint.sh
!config/uploads.ini

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/nginx/
config/nginx/*
!config/nginx/nginx.conf
