---
x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-0.5}
      memory: ${RESOURCES_LIMITS_MEMORY:-512m}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    default: {}
  healthcheck:
    disable: true
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  beszel-agent:
    # https://github.com/henrygd/beszel/pkgs/container/beszel%2Fbeszel-agent
    image: ghcr.io/henrygd/beszel/beszel-agent${AGENT_TYPE:-}:${VERSION:-0.18.2}
    <<: *basic
    deploy:
      <<: *basic-deploy
    cap_add:
      - NET_RAW
      - SYS_ADMIN
      - SYS_RAWIO
    ports:
      - target: ${PORT_AGENT:-45876}
        published: ${PORT_AGENT:-45876}
        protocol: tcp
        mode: host
    environment:
      LISTEN: ${PORT_AGENT:-45876}
      KEY: ${KEY?KEY for agent is not set}
      HUB_URL: ${HUB_URL?HUB_URL for agent is not set}
    extends:
      file: docker-compose-agent.override.yaml
      service: ${HWACCEL:-none} # hwaccel-amd | hwaccel-nvidia
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      test: ["CMD", "/agent", "health"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

################################################################################
################################################################################
################################################################################
networks:
  default:
    driver: ${NETWORK_MODE:-overlay}
    attachable: true
    driver_opts:
      encrypted: "true"
