*
!.gitignore
!.gitempty

!docker-compose.yaml

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/config.yml

!config/pangolin/
config/pangolin/*

!config/pangolin/traefik/
config/pangolin/traefik/*
!config/pangolin/traefik/dynamic_config.yml.tmpl
!config/pangolin/traefik/traefik_config.yml.tmpl
!config/pangolin/config.yml.tmpl

!config/pangolin/letsencrypt/
config/pangolin/letsencrypt/*
!config/pangolin/letsencrypt/.gitempty
