*
!.gitignore
!.gitempty

!docker-compose.yaml

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/config.yml

!config/pangolin/
config/pangolin/*

!config/pangolin/traefik/
config/pangolin/traefik/*
!config/pangolin/traefik/dynamic_config_template.yml
!config/pangolin/traefik/traefik_config_template.yml
