---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.openspeedtest.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.openspeedtest.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.openspeedtest.tls=true
    - traefik.http.routers.openspeedtest.tls.certresolver=${CERT_RESOLVER:-}
    - traefik.http.routers.openspeedtest.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.openspeedtest.service=openspeedtest
    - traefik.http.services.openspeedtest.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.openspeedtest.loadbalancer.server.port=${PORT:-3000}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-2}
      memory: ${RESOURCES_LIMITS_MEMORY:-500m}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - SETGID
    - SETUID
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  restart: always

################################################################################
################################################################################
################################################################################

services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  openspeedtest:
    # https://hub.docker.com/r/openspeedtest/latest
    image: openspeedtest/latest:${VERSION:-v2.0.6}
    <<: [*basic, *basic-deploy-labels]
    deploy:
      <<: [*basic-deploy, *basic-deploy-labels]
    ports:
      - target: ${PORT:-3000}
        published: ${PORT_PUBLISH:-3000}
        protocol: tcp
        mode: host
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -kIf ${PROTOCOL:-http}://127.0.0.1:${PORT:-3000} > /dev/null 2>&1 || exit 1",
        ]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true
