---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.evcc.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.evcc.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.evcc.tls=true
    - traefik.http.routers.evcc.tls.certresolver=${CERT_RESOLVER:-}
    - traefik.http.routers.evcc.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.evcc.service=evcc
    - traefik.http.services.evcc.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.evcc.loadbalancer.server.port=${PORT:-7070}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  evcc:
    # https://hub.docker.com/r/evcc/evcc
    image: evcc/evcc:${VERSION:-0.300.2}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    # ports:
    #   - target: 8887 # OCPP Server
    #     published: 8887
    #     protocol: tcp
    #     mode: host
    #   - target: 4712 # EEBus
    #     published: 4712
    #     protocol: tcp
    #     mode: host
    #   - target: 9522 # SMA Sunny Home Manager
    #     published: 9522
    #     protocol: udp
    #     mode: host
    #   - target: 7090 # KEBA Chargers
    #     published: 7090
    #     protocol: udp
    #     mode: host
    #   - target: 5353 # mDNS
    #     published: 5353
    #     protocol: udp
    #     mode: host
    #   - target: 8899 # Modbus UDP
    #     published: 8899
    #     protocol: udp
    #     mode: host
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/root
    command: sh -c "touch /root/evcc.yaml && evcc --config /root/evcc.yaml --database /root/.evcc/evcc.db"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider --no-check-certificate ${PROTOCOL:-http}://127.0.0.1:${PORT:-7070} || exit 1",
        ]
      start_period: 10s
      interval: 10s
      timeout: 3s
      retries: 10

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  data: {}
