*
!.gitignore
!.gitempty
!docker-compose.yaml

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/install-ext.sh
!config/keybindings.json
!config/settings.json

!config/config/
config/config/*
!config/config/.gitempty
!config/local/
config/local/*
!config/local/.gitempty
!config/project/
config/project/*
!config/project/.gitempty
