*
!.gitignore
!.gitempty

!docker-compose.yaml

!README.md

!config/
config/*

!config/Caddyfile_Template

!config/certs/
config/certs/*
!config/certs/.gitempty

!config/certs-ca/
config/certs-ca/*
!config/certs-ca/.gitempty
