*
!.gitignore
!.gitempty

!docker-compose.yaml

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/config.yml

!config/pangolin/
config/pangolin/*
!config/pangolin/config.yml.tmpl

!config/traefik/
config/traefik/*
!config/traefik/dynamic_config.yml.tmpl
!config/traefik/ban.html

!config/crowdsec/
config/crowdsec/*
!config/crowdsec/*.yaml
