---
x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS_OLM:-1}
      memory: ${RESOURCES_LIMITS_MEMORY_OLM:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS_OLM:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY_OLM:-32m}

x-basic: &basic
  env_file:
    - ${ENV_FILE_OLM:-.env}
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  healthcheck:
    disable: true
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  olm:
    # https://hub.docker.com/r/fosrl/olm
    image: fosrl/olm:${VERSION_OLM:-1.4.2}
    <<: *basic
    deploy:
      <<: *basic-deploy
    cap_add:
      - NET_ADMIN
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /dev/net/tun:/dev/net/tun
    environment:
      PANGOLIN_ENDPOINT: ${PANGOLIN_ENDPOINT?PANGOLIN_ENDPOINT not set}
      OLM_ID: ${OLM_ID?OLM_ID not set}
      OLM_SECRET: ${OLM_SECRET?OLM_SECRET not set}
      DNS: ${DNS:-1.1.1.1}
      UPSTREAM_DNS: ${UPSTREAM_DNS:-1.1.1.1:53}
      OVERRIDE_DNS: ${OVERRIDE_DNS:-true}
      TUNNEL_DNS: ${TUNNEL_DNS:-true}
    networks:
      default: {}

################################################################################
################################################################################
################################################################################
networks:
  default:
    name: pangolin_olm
    driver: ${NETWORK_MODE:-overlay}
    attachable: true
    driver_opts:
      encrypted: "true"
