---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.actualbudget.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.actualbudget.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.actualbudget.tls=true
    - traefik.http.routers.actualbudget.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.actualbudget.service=actualbudget
    - traefik.http.services.actualbudget.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.actualbudget.loadbalancer.server.port=${PORT:-5006}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - DAC_OVERRIDE # Bypasses file read/write/execute permission checks (`cat`,`touch`,`rm`)
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  actualbudget:
    # https://hub.docker.com/r/actualbudget/actual-server
    image: actualbudget/actual-server:${VERSION:-sha-42c184a-alpine}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    environment:
      ACTUAL_PORT: ${PORT:-5006}
      # ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB: 20
      # ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB: 50
      # ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB: 20
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/data
    healthcheck:
      test: ["CMD-SHELL", "node src/scripts/health-check.js"]
      start_period: 10s
      interval: 10s
      timeout: 3s
      retries: 10

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  data: {}
