*
!.gitignore
!.gitempty

!.dockerignore
!Dockerfile
!docker-compose.yaml

!README.md

!config/
config/*

!config/*.tmpl

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/apache.conf
!config/entrypoint.sh
!config/supervisord.conf
