---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.n8n.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.n8n.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.n8n.tls=true
    - traefik.http.routers.n8n.tls.certresolver=${CERT_RESOLVER:-}
    - traefik.http.routers.n8n.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.n8n.service=n8n
    - traefik.http.services.n8n.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.n8n.loadbalancer.server.port=${PORT:-5678}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-1}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    default: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################

x-n8n-base-worker: &n8n-base-worker
  NODE_ENV: production
  N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY?N8N_ENCRYPTION_KEY is not set}
  N8N_RUNNERS_AUTH_TOKEN: ${N8N_RUNNERS_AUTH_TOKEN?N8N_RUNNERS_AUTH_TOKEN is not set}
  # Postgres
  DB_TYPE: postgresdb
  DB_POSTGRESDB_HOST: postgresql
  DB_POSTGRESDB_PORT: 5432
  DB_POSTGRESDB_DATABASE: ${POSTGRES_DB:-n8n}
  DB_POSTGRESDB_USER: ${POSTGRES_USER:-n8n}
  DB_POSTGRESDB_PASSWORD: ${DATABASE_PASSWORD?DATABASE_PASSWORD is not set}
  # Queue / Redis
  EXECUTIONS_MODE: "queue"
  QUEUE_BULL_REDIS_HOST: "valkey"
  QUEUE_BULL_REDIS_PORT: 6379
  QUEUE_HEALTH_CHECK_ACTIVE: "true"
  OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS: "true"
  # Task runners (2.0)
  N8N_RUNNERS_ENABLED: "true"
  N8N_RUNNERS_MODE: "external"
  N8N_RUNNERS_BROKER_LISTEN_ADDRESS: "0.0.0.0"

x-n8n-base-runner: &n8n-base-runner
  N8N_RUNNERS_AUTH_TOKEN: ${N8N_RUNNERS_AUTH_TOKEN?N8N_RUNNERS_AUTH_TOKEN is not set}

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  n8n:
    # https://hub.docker.com/r/n8nio/n8n
    image: n8nio/n8n:${VERSION_N8N:-2.3.2}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    environment:
      <<: *n8n-base-worker
      N8N_PROTOCOL: https
      N8N_HOST: ${DOMAIN?domain variable not set}
      N8N_PORT: ${PORT:-5678}
      WEBHOOK_URL: https://${DOMAIN?domain variable not set}/

      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: ${N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS:-true}
      N8N_RUNNERS_ENABLED: ${N8N_RUNNERS_ENABLED:-true}
      N8N_DIAGNOSTICS_ENABLED: ${N8N_DIAGNOSTICS_ENABLED:-false}
      N8N_VERSION_NOTIFICATIONS_ENABLED: ${N8N_VERSION_NOTIFICATIONS_ENABLED:-false}
      N8N_PROXY_HOPS: 1
      N8N_DISABLE_PRODUCTION_MAIN_PROCESS: ${N8N_DISABLE_PRODUCTION_MAIN_PROCESS:-false} # TODO

      GENERIC_TIMEZONE: ${GENERIC_TIMEZONE:-Europe/Berlin}
      TZ: ${GENERIC_TIMEZONE:-Europe/Berlin}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/home/node/.n8n
      # - ./local-files:/files
    networks:
      default: {}
      proxy: {}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider --no-check-certificate ${PROTOCOL:-http}://127.0.0.1:${PORT:-5678} || exit 1",
        ]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  ##############################################################################
  ##############################################################################
  ##############################################################################
  n8n-worker:
    # https://hub.docker.com/r/n8nio/n8n
    image: n8nio/n8n:${VERSION_N8N:-2.3.2}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_N8N_WORKER:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_N8N_WORKER:-1g}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_N8N_WORKER:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_N8N_WORKER:-32m}
    environment:
      <<: *n8n-base-worker
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    command: worker

  n8n-runners-main:
    # https://hub.docker.com/r/n8nio/runners
    image: n8nio/runners:${VERSION_N8N:-2.3.2}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_N8N_RUNNER:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_N8N_RUNNER:-1g}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_N8N_RUNNER:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_N8N_RUNNER:-32m}
    environment:
      <<: *n8n-base-runner
      N8N_RUNNERS_TASK_BROKER_URI: "http://n8n:5679"

  n8n-runners-worker:
    # https://hub.docker.com/r/n8nio/runners
    image: n8nio/runners:${VERSION_N8N:-2.3.2}
    <<: *basic
    deploy:
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_N8N_RUNNER:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_N8N_RUNNER:-1g}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_N8N_RUNNER:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_N8N_RUNNER:-32m}
    environment:
      <<: *n8n-base-runner
      N8N_RUNNERS_TASK_BROKER_URI: "http://n8n-worker:5679"

  ##############################################################################
  ##############################################################################
  ##############################################################################
  valkey:
    # https://hub.docker.com/r/valkey/valkey
    image: valkey/valkey:${VERSION_VALKEY:-9.0.1-alpine}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_VALKEY:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_VALKEY:-128m}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_VALKEY:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_VALKEY:-32m}
    cap_add:
      - SETUID
      - SETGID
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - valkey:/data
    command: --save 300 1 --loglevel warning
    healthcheck:
      test: ["CMD-SHELL", "valkey-cli ping | grep PONG"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  ##############################################################################
  ##############################################################################
  ##############################################################################
  postgresql:
    # https://hub.docker.com/_/postgres
    image: postgres:${VERSION_POSTGRESQL:-18.1-alpine}
    <<: *basic
    deploy:
      <<: *basic-deploy
      resources:
        limits:
          cpus: ${RESOURCES_LIMITS_CPUS_POSTGRESQL:-1}
          memory: ${RESOURCES_LIMITS_MEMORY_POSTGRESQL:-512m}
        reservations:
          cpus: ${RESOURCES_RESERVATIONS_CPUS_POSTGRESQL:-0.001}
          memory: ${RESOURCES_RESERVATIONS_MEMORY_POSTGRESQL:-32m}
    cap_add:
      - CHOWN
      - FOWNER
      - DAC_READ_SEARCH
      - DAC_OVERRIDE
      - SETUID
      - SETGID
    secrets:
      - postgres_password_file
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-n8n}
      POSTGRES_USER: ${POSTGRES_USER:-n8n}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password_file
      PGDATA: /var/lib/postgresql/18/data
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - postgresql_v18:/var/lib/postgresql/18/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

################################################################################
################################################################################
################################################################################
networks:
  default:
    driver: ${NETWORK_MODE:-overlay}
    attachable: true
    driver_opts:
      encrypted: "true"
  proxy:
    external: true

volumes:
  data: {}
  valkey: {}
  postgresql_v18: {}

secrets:
  postgres_password_file:
    file: config/secrets/postgres_password_file.txt
