*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile
!Dockerfile_*

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/docker-entrypoint.sh
!config/supervisord.conf
!config/*_template.*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/ssl/
config/ssl/*
!config/ssl/.gitempty
