# To see all available options, please visit the docs:
# https://docs.fossorial.io/Pangolin/Configuration/config

app:
  dashboard_url: "https://<REPLACE_DASHBOARDURL_DOMAIN>"
  log_level: "info"
  save_logs: false

domains:
  domain1:
    base_domain: "<REPLACE_BASE_DOMAIN>"
    cert_resolver: "certificates"

server:
  external_port: 3000
  internal_port: 3001
  next_port: 3002
  internal_hostname: "pangolin"
  session_cookie_name: "p_session_token"
  resource_access_token_param: "p_token"
  resource_access_token_headers:
    id: "P-Access-Token-Id"
    token: "P-Access-Token"
  resource_session_request_param: "p_session_request"
  secret: <REPLACE_SERVER_SECRET>
  cors:
    origins: ["https://<REPLACE_DASHBOARDURL_DOMAIN>"]
    methods: ["GET", "POST", "PUT", "DELETE", "PATCH"]
    allowed_headers: ["X-CSRF-Token", "Content-Type"]
    credentials: false
  maxmind_db_path: "/app/geo/GeoLite2-Country.mmdb"

traefik:
  cert_resolver: "certificates"
  http_entrypoint: "web"
  https_entrypoint: "websecure"

gerbil:
  start_port: 51820
  base_endpoint: "<REPLACE_DASHBOARDURL_DOMAIN>"
  use_subdomain: false
  block_size: 24
  site_block_size: 30
  subnet_group: 100.89.137.0/20

rate_limits:
  global:
    window_minutes: 1
    max_requests: 500

# email:
#   smtp_host: "host.hoster.net"
#   smtp_port: 587
#   smtp_user: "no-reply@<REPLACE_BASE_DOMAIN>"
#   smtp_pass: "aaaaaaaaaaaaaaaaaa"
#   no_reply: "no-reply@<REPLACE_BASE_DOMAIN>"

flags:
  require_email_verification: false
  disable_signup_without_invite: true
  disable_user_create_org: true
  allow_raw_resources: true
  enable_clients: false
  disable_local_sites: false
  disable_basic_wireguard_sites: false
