---
x-basic-deploy-labels: &basic-deploy-labels
  labels:
    - traefik.enable=true
    - traefik.swarm.lbswarm=${LB_SWARM:-true}
    - traefik.swarm.network=proxy
    - traefik.http.routers.stirling-pdf.entrypoints=${TRAEFIK_ENTRYPOINT:-https}
    - traefik.http.routers.stirling-pdf.rule=Host(`${DOMAIN?domain variable not set}`)
    - traefik.http.routers.stirling-pdf.tls=true
    - traefik.http.routers.stirling-pdf.middlewares=${MIDDLEWARE_SECURED:-default-secured@file}
    - traefik.http.routers.stirling-pdf.service=stirling-pdf
    - traefik.http.services.stirling-pdf.loadbalancer.server.scheme=${PROTOCOL:-http}
    - traefik.http.services.stirling-pdf.loadbalancer.server.port=${PORT:-8080}

x-basic-deploy: &basic-deploy
  mode: replicated
  replicas: 1
  placement:
    max_replicas_per_node: 1
    constraints:
      - "node.role==${NODE_ROLE:-manager}"
      - node.platform.os == linux
  update_config:
    order: stop-first
  restart_policy:
    condition: any
  resources:
    limits:
      cpus: ${RESOURCES_LIMITS_CPUS:-2}
      memory: ${RESOURCES_LIMITS_MEMORY:-1g}
    reservations:
      cpus: ${RESOURCES_RESERVATIONS_CPUS:-0.001}
      memory: ${RESOURCES_RESERVATIONS_MEMORY:-32m}

x-basic: &basic
  env_file: ${ENV_FILE:-.env}
  cap_add:
    - CHOWN # Allows changing file ownership (`chown`,`chgrp`)
    - FOWNER # Overrides file ownership checks (`chmod`,`kill`)
    - SETGID # Allows setting group ID (`setgid`,`newgrp`,`chgrp`,`setregid()`)
    - SETUID # Allows setting user ID (`setuid`,`su`,`sudo`,`passwd`)
  cap_drop: ["ALL"]
  security_opt:
    - no-new-privileges:true
  ulimits:
    memlock:
      soft: -1
      hard: -1
    nofile:
      soft: 655360
      hard: 655360
    fsize: -1
    as: -1
  networks:
    proxy: {}
  healthcheck:
    disable: true
  tmpfs:
    - /tmp
  restart: always

################################################################################
################################################################################
################################################################################
services:
  ##############################################################################
  ##############################################################################
  ##############################################################################
  app:
    # https://github.com/Stirling-Tools/Stirling-PDF/pkgs/container/s-pdf
    image: ghcr.io/stirling-tools/s-pdf:${VERSION:-2.1.5-fat}
    <<:
      - *basic
      # - *basic-deploy-labels
    deploy:
      <<:
        - *basic-deploy
        - *basic-deploy-labels
    environment:
      SECURITY_ENABLELOGIN: ${SECURITY_ENABLELOGIN:-false}
      LANGS: ${LANGS:-en_GB}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - trainingData:/usr/share/tessdata
      - extraConfigs:/configs

################################################################################
################################################################################
################################################################################
networks:
  proxy:
    external: true

volumes:
  trainingData: {}
  extraConfigs: {}
